Package: com.ps.emojiattributes
Name: EmojiAttributes
Depends: firmware (>= 5.1), mobilesubstrate, com.opa334.libundirect (>= 1.1.6)
Conflicts: com.ps.flexmoji
Version: 1.0.0
Architecture: iphoneos-arm
Description: Various under-the-hood fixes for emoji display.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/emojiattributes.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/emojiattributes.json
